.slider-center{
    background-color: #A0A0A0; ;
    border-radius: 10px;
    height: 99px;
}

.main-frame{
    display: flex;
    place-content: space-around;
    align-items: center;
    min-height: 650px;

}
#data-frame{
    background: #0B3D91;
    border-radius: 10px;
    color: white;
    display: flex;
    max-width: 580px;
    align-items: center;
    flex-direction: column;
}
#data-frame .sub-frame>span{
    flex-basis: 0px;
    flex-grow: 1;
    margin: 4px;
 
}
#data-frame span{
    color: white;
}
#data-frame p{
    color: #A0A0A0;
    margin: 0;

}
#data-frame .sub-frame>p{
    margin: 4px;
    text-align: justify;
}
.main-frame img{
    height: 480px;
   
}
.sub-frame{
    display: inline-flex;
    margin: 5px;
    justify-content: center;
}
#des{
    flex-basis: 80%;
}
