<!--<div class="slider-center">
    <p>APOD is the acronim of Astronomy Picture of The Day. In fact, this website is one of the most popular websites across all federal agencies. 
    </p>
</div>-->
<div class="main-frame">
    <div id="data-frame">
        <div class="sub-frame">
            <span>Title:</span>
            <p>{{metaData.title}}</p>
        </div>
        <div class="sub-frame">
            <span>Date:</span>
            <p>{{metaData.date}}</p>
        </div>
        <div class="sub-frame">
        <p id="des"><span>Description: </span>{{metaData.explanation}}</p>
        </div>
    </div>
    <div *ngIf="metaData.media_type == 'video'">
        <youtube-player [videoId]="metaData.videoId"></youtube-player>
    </div>
    <div *ngIf="metaData.media_type == 'image'">
        <img [src]="metaData.url"  alt="picture of the day">
    </div>
   
</div>
 