<header id="header">
    <div class="center">
        <!--Logo-->
        <div id="logo">
            <img src="assets/images/nasa logo.png" class="app-logo" alt="Nasa logo">
            <h2>Nasa project</h2>
        </div>


        <!--Menu-->
        <nav id="menu">
            <ul>
                <li>
                    <a href="#">APOD</a>
                </li>
                <li>
                    <a href="#">Asteroids NeoWs</a>
                </li>
            </ul>
        </nav>
    </div>
</header >

<button (click)="getPicture()">Get ASTRONOMY PICTURE OF THE DAY</button>